---
layout: default
---
<img src="files/profile.jpg" alt="Sangjoon Bob Lee's Profile Picture" style="width:200px; height:auto;">
<div class="home">
  <p>
      <a href="https://scholar.google.com/citations?user=L07HlVsAAAAJ&hl=en&authuser=1">Google Scholar</a> |
      <a href="https://github.com/bobleesj">GitHub</a> |
      <a href="https://orcid.org/0000-0002-2367-3932">ORCiD</a> |
      <a href="https://www.linkedin.com/in/bobleesj/">LinkedIn</a>
      <br>
      Email: sl5400@columbia.edu
  </p>

  <h2>Research interests</h2>
  <p>Computational materials science, Data-driven materials discovery, DFT, Molecular dynamics, Phonons</p>
  

  <h2>About me</h2>
  <p> 
      I am a second-year M.S. student in Materials Science and Engineering at Columbia University in the Department of Applied Physics and Applied Mathematics at the Fu Foundation School of Engineering and Applied Science.<br><br>
      
      I am interested in computational materials science providing tools and theoretically informed guidance in materials synthesis and analysis. I am actively learning or deploying techniques in first principles, data-driven approaches, and numerical methods in solving materials science problems.
      <br><br>

      I have a B.E. in Chemical Engineering with minors in Computer Science and Chemistry from The Cooper Union. During my undergraduate studies, I conducted independent research in computational chemistry, where I gained experience in force-field structural optimization, <em>ab initio</em> calculations, and open-source development.
  </p>
  <h2>Biography</h2>
  <p> 
    I grew up in 4 countries including Korea, Malaysia, Vietnam, and the United States.
  </p>
  
</div>
